/* ==========================================================================
   Customized dark skin @snowscan
   ========================================================================== */

/* Colors */
$background-color: #131417 !default;
$text-color: #C7C9D3 !default;
$primary-color: #FF090D !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #2C303A !default;
$code-background-color-dark: #2C303A !default;
$form-background-color: #2C303A !default;
$footer-background-color: #2C303A  !default;
$link-color: #FF090D !default;
$link-color-hover: #FF090D !default;
$link-color-visited: #FF090D !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#131417, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#131417, $background-color, 30%) !default;
$conifer: #319B07;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}